<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Personalised Skincare Routine</title>
    <link rel="stylesheet" href="style/routines.css">
    <script src="static/routines.js" defer></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="nav">
        <ul>
            <a href="myskin.html" class="nav_link">
                <i class="material-icons nav_icon">mood</i>
                <span class="nav_text">My Skin</span>                
            </a>
            <a href="products.html" class="nav_link">
                <i class="material-icons nav_icon">inventory</i>
                <span class="nav_text">Products</span>                
            </a>
            <a href="routines.html" class="nav_link nav_link_active">
                <i class="material-icons nav_icon">schedule</i>
                <span class="nav_text">Routines</span>                
            </a>
        </ul>
    </nav>

    <div class="routine-container">
    <h1>Routines</h1>
    <div class="create-routine">
      <br><input type="text" id="routineName" placeholder="Routine Name" />
      <button id="createRoutine">Create Routine</button><br>

    </div>

    <hr/>
    
    <div id="routineList"></div> 
</body>

