body {
    margin: 0 0 55px 0;
    text-align: center;
    justify-content: flex;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(243, 243, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #444444;
    text-decoration: none;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav_link_active {
    color: #1c79e4;
}

.quiz-container {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #e5ece9;
    /* background: #ffffff; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding-bottom: 50px;
    position: relative;
    /* margin: auto; */
}
.question {
    font-size: 18px;
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-direction: column;
}
.option {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    background: #e5e7e8;
}

.option:hover {
    background: #87dbf2;
} 

.result {
    font-size: 20px;
    /* font-weight: bold; */
    margin-top: 20px;
}

#next {
    position: absolute;
    bottom: 1px;
    right: 20px;
}

#back {
    position: absolute;
    bottom: 1px;
}

#redo {
    display: none;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #fff;
    background-color: #ff4742;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    font-weight: 800;
    font-size: 16px;
    height: 42px;
    margin: 20px auto; 
}

.button {
  align-items: center;
  appearance: button;
  background-color: #1c79e4;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:active {
  background-color: #006AE8;
}

.button:hover {
  background-color: #106fe2;
}

.hidden {
    display: none;
}