body {
    margin: 0 0 55px 0;
    text-align: center;
    justify-content: flex;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(243, 243, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #444444;
    text-decoration: none;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav_link_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #1c79e4;
    text-decoration: none;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

/* Container for each product card */
.productContainer {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    display: block;
    max-width: 300px;
    margin: 16px auto;
    text-align: center;
    color: #000000;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.productList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product-image {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 4px ;
    margin-bottom: 12px;
    object-fit: cover;}

#backToProducts {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #1c79e4;
}

