@import 'products.css';

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}
body {
    margin: 0;
    /* padding: 20px; */
    text-align: center;
    /* justify-content: flex; */
}

#backToRoutines {
    /* text-decoration: none; */
    color: #1a21ef;
    font-size: 24px;
    top: 10px;
    left: 10px;
    position: absolute;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(243, 243, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #444444;
    text-decoration: none;
    font-size: 13px;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.nav_link_active {
  color: #1c79e4;
}

.routineDetail {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
}

.routineDetail div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.routineName {
    font-size: 26px;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#product {
    font-size: 19px;
    margin-bottom: 10px;
}

#showProductForm {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    /* position: absolute;
    right: 0;
    top: 0px; */
}

#productListContainer {
    background: rgb(232, 235, 235);
    padding: 15px;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    top: 10px;
    position: relative;

    max-height: calc(100vh - 220px);
    overflow-y: auto;
}
#productList {
    list-style-type: none;
}

#addProductForm {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    background-color: #f9f9f9;
  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Adding shadow to make it stand out */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    /* Flex layout for spacing */
    display: flex;
    flex-direction: column;
    height: 71%;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 0 auto;
}

.productContainer {
    height: 85%;
    width: 100%;
    /* border: #007bff 2px solid; */
    border-radius: 8px;
}

.listOfProducts {
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
.listOfProducts ::-webkit-scrollbar {
    display: none;
}
.hidden {
    display: none !important;
}